In [1]:
print ('Conhecendo o comando print')

x= 8
print (x)

Conhecendo o comando print
8

In [8]:
y = 10
soma = x + y
print (soma)

15

In [10]:
nome = 'Rogerio Ferreira'
print(nome)

Rogerio Ferreira

Concatenação

In [3]:
x = 5
print ('O valor de x é', x)

O valor de x é 5

In [4]:
print('O valor de x é:', x, 'e o dobro é: ', x * 2)

O valor de x é: 5 e o dobro é:  10

In [11]:
print ('Eu,', nome, 'tirei', x,'na prova de Python')

Eu, Rogerio Ferreira tirei 5 na prova de Python

In [12]:
y = 10; z = 20 + x + y
print ('Declarar várias variaveis na mesma linha:', y, z)

Declarar várias variaveis na mesma linha: 10 35

Type

In [20]:
x = 10
type (x)
print ('x', type(x))

nome = 'Rogerio'
print ('nome', type(nome))

num = 100
num_convert = int(num) #converter variavel
print ('num', type(num))
print ('num_conver', type(num_convert))

num_float = float(num)
print ('num_float', num_float)

x <class 'int'>
nome <class 'str'>
num <class 'int'>
num_conver <class 'int'>
num_float 100.0

Input

*   Armazenar a informação digitada pelo usuario em uma variavel
*   o dado armazenado sempre sera um texto

In [15]:
nome = input ('Digite o nome do usuario: ')
print ('O nome do usuario é:', nome)

Digite o nome do usuario: Rogerio
O nome do usuario é: Rogerio

In [28]:
valor = input ('Digite a nota: ')
print (nome, 'sua nota foi: ', valor)

Digite a nota: 10
Rogerio sua nota foi:  10

In [30]:
valor = input ('Digite o valor do produto: ')
print (valor)

Digite o valor do produto: 100
100

In [29]:
desconto = valor - 5

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [31]:
valor_convert = int(valor)
desconto = valor_convert - 5
print (desconto)

95

In [27]:
desconto = int(valor) - 5
print (desconto)

15